doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Novias Los gatitos - Sobre la App
        link(rel="stylesheet", href="/css/style.css")
    body 
        .contenedor 
            //Navegador
            .encabezadoTop
                .encabezadoTexto
                    h3= titulo 
                nav 
                    a(href="/requests/cliente") Volver al Inicio

            h3 Informacion sobre la App
            //Informacion de la App
            .informacionApp
                h2 FAVOR DE NO DESCARGAR LA APLICACION 
                p La aplicacion sigue en desarrollo por lo que NO es recomendable descargarla por ahora.
                p Ademas, al descargar la aplicaci칩n NO PODRAS ACCEDER facilmente al apartado dise침ado para ti :D
                p Esperamos que disfrutes de la aplicaci칩n cuando est칠 lista para su lanzamiento.

                h3 Informaci칩n de la App
                p La aplicaci칩n es una herramienta dise침ada para mejorar nuestro control de citas 
                p Y nos gustaria que sigas formando parte de este proceso, por lo que este espacio esta dise침ado especificamente para ti 
                p De esta manera podras participar en la administraci칩n de tu cita inicial, tu cita de medidas, tu cita para la entrega de tu vestido 
                p Y hasta organizar una cita para que te puedan planchar tu vestido y este listo para tu gran d칤a. 仇벒잺

                h3 쮺칩mo usar "Agenda Digital - Novias Los Gatitos"?
                p Para usar la aplicaci칩n, solo necesitas seguir los siguientes pasos:
                p 1. Acceder al link que te proporcionaremos presencialmente o en nuestras redes sociales 
                p 2. Visualizar nuestro calendario de citas, donde podr치s ver las citas programadas para cada d칤a y la disponibilidad de nuestros horarios 
                p 3. Dar clic en el enlace de "Solicitar cita" donde te aparecera un bot칩n con el mismo nombre, al darle clic al boton , te aparecera un formulario
                p 4. Llenar el formulario con tus datos y seleccionar el d칤a y el tipo de cita que estas buscando, as칤 como dar una breve descripci칩n de lo que esperas o estas buscando 
                p 5. Enviar el formulario y esperar a que un miembro de nuestro equipo se ponga en contacto contigo para confirmar tu cita y darle seguimiento a tu solicitud.
                p 6. Una vez que hayamos confirmado tu cita, podr치s visualizar tu cita en el calendario de citas, una vez aceptada, tendras asegurado el d칤a y hora para tu cita 
                p 7. En el d칤a de tu cita, solo necesitas llegar a nuestro local, donde te estaremos esperando para que puedas disfrutar de tu cita y de nuestra atenci칩n personal 仇벒잺游땕

                h3 쮺칩mo cancelar una cita?
                p Si por alguna raz칩n necesitas cancelar una cita, solo necesitas comunicarte con nosotros a trav칠s de nuestro n칰mero de WhatsApp  o por nuestras redes sociales, y te ayudaremos a cancelar tu cita de manera r치pida y sencilla.
                p Sigue el mismo proceso si necesitas cambiar la fecha u hora de tu cita

                h3 Y eso es todo! Esperamos que disfrutes de la aplicaci칩n y que puedas aprovechar al m치ximo esta aplicaci칩n que esperamos poder mejorar con el tiempo. 춰Muchas gracias por tu apoyo!
            //Footer
            footer
                p 춰Muchas gracias por elegirnos para ser parte de tu gran d칤a! - Novias Los Gatitos
                p Horario de atencion : Lunes a Sabado de 10:00 am a 8:00 pm, Domingos de 10:00 am a 3:00 pm

        //Script    
        script(src="/js/script.js") 