doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Novias Los gatitos - Sobre la App
        link(rel="stylesheet", href="/css/style.css")
    body 
        .contenedor 
            //Navegador
            .encabezadoTop
                .encabezadoTexto
                    h3= titulo 
                nav 
                    a(href="/") Volver al Inicio

            h3 Informacion sobre la App
            //Informacion de la App
            .informacionApp
                h2 La aplicación sigue en desarrollo, por lo que acepto criticas y sugerencias para mejorarla

                h3 Información de la App
                p La aplicación es una herramienta diseñada para mejorar nuestro control de citas 
                p y la mejora de los procesos de ventas
                p La app esta planeada para que solo una persona administre los eventos, por lo que es recomendable que revises constantemente la aplicación para ver tus eventos pendientes.

                h3 ¿Cómo usar "Agenda Digital - Novias Los Gatitos"?
                p Para usar la aplicación, solo necesitas seguir los siguientes pasos:
                p 1. Acceder al link que te proporcionaremos y descargar la app para tu dispositivo móvil.
                p 2. Visualizar nuestro calendario de citas, donde podrás ver las citas programadas para cada día y la disponibilidad de horarios.
                p 3. Informar a la persona encargada cada que un evento se haya completado, cancelado o haya tenido un cambio.

                h3 Para el administrador de la agenda
                p 1. Iniciar sesión dando clic en el enlace "NLG", se te dara una contraseña especial para que puedas iniciar sesión.
                p 2. Da clic en el boton "Agregar cita", te aparecera un formulario para que puedas agregar una nueva cita.
                p 3. Para modificar algun evento, puedes navegar entre las pestañas con el nombre del tipo del evento.
                p 4. Te aparecera una tabla con las opciones para completar, terminar o editar un evento
                
                h4 Tendras un apartado para ver las solicitudes de los clientes, revisalo constantemente para que puedas atender a los clientes de manera oportuna.

                h3 Y eso es todo! Esperamos que disfruten de la aplicación y que puedan aprovechar al máximo esta aplicación que espero mejorar con el tiempo.
            
            //Footer
            footer
                p Novias Los Gatitos - Sucursal Morelos

        //Script    
        script(src="/js/script.js") 